*{
    margin:0px;padding:0px;
    font-size: small;
}
.top {
    background: white;
    width: 100%;
    height: 50;
    position: relative;
    display: flex;
    flex-direction: row;
}
.logo_div {
    background: white;
    width: 500px;
    height: 100px;
    position: relative; 
}
.menu {
    background: white;
    width: 100%;
    height: 100px;
    position: relative
}
.clock {
    background: white;
    width: 300px;
    height: 20px;
    position: relative    
}

.body {
    margin:10px;
    padding:10px;
    background: white;
    width: 100%;
    height: 100%;
    position: relative;
}
.jsonbox {
    background: white;
    width: 1000px;
    height: 200px;
    position: relative;
}
.jsonbox_name {
    background: white;
    width: auto;
    height: auto;
    position: relative;
}
.jsonbox_body {
    overflow:auto;
    background: white;
    width: auto;
    height: 150px;
    padding: 5px;
    border: solid 1px;
    border-color: #111111;
    position: relative;
}

.tablearea {
    background: white;
    width: 1000px;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.tablebox {
    background: white;
    width: auto;
    height: 200px;
    margin: 10px;
    padding: 10px;
    border-color: white;
    position: relative;
}
table{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 10px;
    padding: 10px 0;
  }
  
  table th{
      padding: 10px 10px;
      text-decoration: underline;
      text-align: center;
  }
  
  table td{
    padding: 10px 10px;
    text-align: center;
  }
  
  table tr:nth-child(odd){
    background-color: #ccc;
  }
  table tr:nth-child(even){
    background-color: #eee;
  }

.chartarea {
    background: white;
    width: 1000px;
    height: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.chartbox {
    background: white;
    width: 200px;
    height: 200px;
    margin: 10px;
    padding: 10px;
    border-color: white;
    position: relative;
}

/* css sample */
.sample1{
    background: pink;
    width: 300px;
    height: 300px;
    position:relative; 
    }
.sample2{
    background: skyblue;
    width:150px;
    height: 150px;
    position:absolute;
    bottom: 20px;
    right:20px;
}

